
/*estilo todas views fixados*/
/* Barra de navegação*/
.navbar-nav {
    display: flex;
    align-items: center;
}

.img-header{
    width: 110px;
    max-height: 110px;    
}

#home-link{
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #bc1717; /* Altere para a cor desejada ao passar o mouse */
}

/*Titulo site*/
#main-title {
    text-align: center;
    margin: 15px 0 30px;
    color: #000000;
}

/*Rodapé*/
footer{
    flex-shrink: 0;   
    text-align: center;
    color:#000000;
    padding: 30px;
    bottom:0;

 }

.msg{
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #c3e6cb;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}


/*---------------------------------------------------------------------------*/

/*View principal

/*Pesquisa do site*/
.source-bulss{
    max-width: 800px;
    margin: 0 auto;
}

#search{
    width: 800px;
}


/* tabelas da página welcome*/
#bulls-table {
    max-width: 800px;
    margin: 0 auto;
}


#bulls-table th {
    color: #ffffff;
    background-color: #212529;
}


.col-id {
    font-weight: bold;
}

.actions {
    text-align: right;
    width: 150px;

}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.check-icon {
    color: #1E7E34;
}

.edit-icon {
    color: #007BFF;
}

.delete-btn{
    background-color: transparent;
    border: none;
    padding: 0;
}

.delete-icon {
    color: #BD2130;
}

.container form {
    display: inline-block;
}


.page-table{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    display: flex;
    height: 100vh;
}



/*---------------------------------------------------------------------*/


/*Página create / Adicionar touros */
#bull-create-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

#bull-create-container h1 {
    margin-bottom: 20px;
}

#bull-create-container .form-group {
    margin-bottom: 15px;
}

#bull-create-container .form-group label {
    display: block;
    text-align: left;
    font-weight: bold;
}

#bull-create-container .form-control {
    width: 500px;
}

.back-pos{
    text-align: left;
    width: 600px;
}
/*---------------------------------------------------------------------*/

/*SHOW / Touro individual */

#view-bull-container {
    max-width: 900px;
    max-height: 500px;
    margin: 0 auto;
    align-items: center;
}

.bull-img{
    width: 300px;
    height: 300px;
}

#back-link:hover {
    color: #bc1717; /* Texto branco */
}

.alt-search{
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}


/*---------------------------------------------------------------------*/

/*Página Update / Editar touros */
#bull-edit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

#bull-edit-container h1 {
    margin-bottom: 20px;
}

#bull-edit-container .form-group {
    margin-bottom: 15px;
}

#bull-edit-container .form-group label {
    display: block;
    text-align: left;
    font-weight: bold;
}

#bull-edit-container .form-control {
    width: 500px;
}

.img-preview{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}

/*---------------------------------------------------------------------*/

/* Página Dashboards */
/* Efeitos fundo---*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animated-fadeIn {
    animation: fadeIn 1s ease-in-out;
}


